* {
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
}

:root {
	--mainBlue: #4077ad;
	--lightBlue: #1792f3;
	--mainWhite: white;
	--darkBlue: #2c3e50;
}

header {
	text-align: center;
	margin: 0;
}

#header-img {
	height: 60vh;
	width: 100%;
}

nav {
	margin: 0;
	width: 100%;
	height: 10vh;
	background-color: var(--darkBlue);
}

nav ul {
	padding: 10px 0;
	text-align: right;
	background-color: var(--darkBlue);
}

nav > ul > li {
	display: inline-block;
	text-align: center;
	vertical-align: center;
	list-style: none;
}

li a {
	color: var(--mainWhite);
	text-decoration: none;
	display: block;
	padding: 1em;
	text-shadow: 1px 1px 1px black;
}

#appointments {
	background-color: var(--mainWhite);
	padding: .5em .75em;
	margin-right: 2em;
	color: var(--mainBlack);
	text-shadow: none;
}

nav a:hover {
	cursor: pointer;
}

i.fa-caret-down {
	padding-left: 5px;
}


/* Nested dropdown */

.dropdown {
	display: none;
	position: absolute;
	margin: 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-item {
	display: block;
	text-decoration: none;
	list-style: none;
}

.dropdown li > a {
	display: block;
	background: var(--darkBlue);
	color: var(--mainWhite);
}

ul li:hover .dropdown {
	display: block;
} 

.body-div {
	background-color: whitesmoke;
}

footer {
	background-color: lightgrey;
}
/* Main styling */

main {
	width: 75%;
	margin: 0 auto;
	padding: 1em;
}

#main-hero {
	height: 30vh;
}

main h1 {
	text-align: center;
	padding: 10px;
}

main button {
	text-align: center;
	padding-top: 1em;
}

#subheader {
	text-align: center;
}

#button-div {
	padding-top: 10px;
	text-align: center;
}

#main-button {
	color: white;
	background-color: var(--darkBlue);
	text-align: center;
	margin: 0 auto;
	font-size: 1em;
	padding: 1em;
}

main h3 {
	text-align: center;
}

main p {
	margin: 1em 0;
	line-height: 1.5em;
}

main ul {
	width: 90%;
	margin: 0 auto;
	list-style-type: ;
}

main ul li {
	line-height: 1.5em;
	margin: 1em;
}

main ul li:before {
}

/* Footer */

footer {
	padding: 1.5em 0 1.5em 0;
	text-align: center;
	background-color: var(--lightBlue);
}

.border-below {
	font-size: .75em;
}

address {
	margin: .5em 0;
}

address p.bold {
	font-weight: bold;
}

address p {
	font-style: normal;
}

#copyright {
	font-size: .75em;
}

/* Specialties page */

.specialties-ul {
	list-style: none;
	margin-top: 1em;
}

.specialties-ul li {
	display: inline-block;
	background: grey;
	border: 1px solid black;
	margin: .5em;
}

.specialties-ul li a {
	text-decoration: none;
	color: var(--mainWhite);
	background-color: var(--mainBlue);
	display: block;
	padding: 10px;
}

.specialties-ul li a:hover {
	background: var(--darkBlue);
	color: var(--lightBlue);
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Accordion styles */

.accordion-toggle {
	cursor: pointer;
	text-align: center;
	background: grey;
	border: 1px solid black;
	padding: 10px;
	width: 80%;
	margin: 0 auto;
}

.accordion-toggle:hover {
	background: var(--darkBlue);
	color: var(--lightBlue);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.accordion-content {
	display: none;
	width: 80%;
	margin: 0 auto;
}

.centered {
	text-align: center;
}

/* Testing */

.testing-ul > li {
	margin: 1em;
	line-height: 1.5em;
}

/* Staff */



span.bold {
	font-weight: bold;
}

.staff-section img {
	float: left;
	padding-right: 10px;
}

/* Location */

.location-main {
	width: 85%;
	margin: 0 auto;
}

section {
	display: flex;
	flex-wrap: wrap;
}

.flex-child {
	flex: 400px;
	margin: .5em;
}

p.bold {
	font-weight: bold;
}

iframe {
	width: 400px;
	height: 300px;
}

iframe.centered {
	display: block;
	margin: auto;
}

/* Tablet */

@media screen and (max-width: 768px) {
	header img {
		width: 100%;
		height: auto;
		margin: 0 auto;
	}

	main {
		margin: 0 auto;
		width: 90%;
	}

	.location-main {
		width: 90%;
	}

	section {
		display: block;
	}

	.flex-child {
		margin: 1em auto;
		flex: 0;
	}
}

/* Phone */

@media screen and (max-width: 375px) {
	header img {
		margin: 0 auto;
	}

	nav ul {
		margin: 0;
	}

	nav ul > li {
		margin-top: 5px;
	}

	.accordion {
		width: 100%;
	}

	.accordion-toggle {
		width: 90%;
	}

	.accordion-content {
		width: 95%;
	}

	iframe {
		width: 320px;
		height: 240px;
	}
}