* {
	margin: 0;
	padding: 0;
}

:root {
	--mainBlue: #4077ad;
	--lightBlue: lightblue;
	--mainWhite: white;
}

header {
	text-align: center;
}

nav {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

nav ul {
	text-align: center;
	margin: 1em 0;
}

nav > ul > li {
	display: inline-block;
	text-align: center;
	list-style: none;
	background-color: var(--mainBlue);
}

nav a {
	color: var(--mainWhite);
	text-decoration: none;
	display: block;
	padding: 1em;
}

nav a:hover {
	background: #2c3e50;
	color: var(--lightBlue);
	cursor: pointer;
}

.active {
	background: #2c3e50;
	color: var(--lightBlue);
}

/* Nested dropdown */

.dropdown {
	display: none;
	position: absolute;
	margin: 0;
	border: 1px solid black;
}

.dropdown-item {
	display: block;
	text-decoration: none;
	list-style: none;
}

.dropdown li > a {
	display: block;
	background: grey;
	color: black;
}

.dropdown a:hover {
	background: #2c3e50;
	color: var(--lightBlue);
}

ul li:hover .dropdown {
	display: block;
}

/* Main styling */

main {
	margin-left: 16%;
	margin-right: 16%;
	width: 68%;
}

main h1 {
	text-align: center;
}

main p {
	margin: 1em 0;
}

main ul {
	margin: 1em 0 1em 3em;
}

footer {
	text-align: center;
}

footer address {
	margin: .5em 0;
}

#footer-nav ul {
	list-style: none;
}

#footer-nav li {
	display: inline;
}

#footer-nav a {
	text-decoration: none;
	background-color: var(--mainBlue);
	cursor: pointer;
}

/* Accordion styles */

.accordion-toggle {
	cursor: pointer;
	text-align: center;
	background: grey;
	border: 1px solid black;
	padding: 10px;
	width: 80%;
	margin: auto;
}

.accordion-content {
	display: none;
	width: 80%;
	margin: auto;
}

.centered {
	text-align: center;
}

/* Specialties page */

.specialties-ul {
	width: 40%;
	margin: 1em auto;
	list-style: none;
}

.specialties-ul li {
	background: grey;
	border: 1px solid black;
	margin: .5em;
}

.specialties-ul li a {
	text-decoration: none;
	color: var(--mainWhite);
	background-color: var(--mainBlue);
	display: block;
	padding: 10px;
}


/* Location */

iframe.centered {
	display: block;
	margin: auto;
}

footer {
	margin: 1em 0 2em 0;
}

@media screen and (max-width: 768px) {
	header img {
		width: 100%;
		height: auto;
	}

	#sidebar-nav {
	}

	#sidebar-nav ul {
		text-align: center;
	}

	#sidebar-nav li {
		
	}

	#sidebar-nav a {
		display: inline-block;
	}

	main {
		margin: 0 auto;
		width: 95%;
	}

}


